{%- for action in record_actions %}
	<a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': entity."~ identifier ~" }) }}" }}" class="btn btn-sm btn-default btn-alt">{{ action }}</a> 
{%- endfor %}